<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Ejemplo HTML5-CCS3 Alejandro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Description" content="Mi primer pagina web ccs3">
        <meta name="keywords" content="HTML5, CSS3, web, Diseño web, UMG">
    <style>
            
    </style>
    </head>
    
    <body class="body">
         
        <header class="pageHeader">
            <nav><ul>
                    <li class="active"><a href="#">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca De</a></li>
                    <li><a href="#">Contactenos</a></li>
            </ul></nav>                       
        </header>
        
        <!<!-- agregando cuerpo a la pagina usando los DIV -->
        <div class="main">
            <div class="content">
                <article class="Top">
                    <header>
                            <h2><a href="#">¿Que es HTML5?</a></h2>
                    </header>
                    <footer>
                            <h5><i>Esto fue posteado el 29/07/2022 por UMG-Guastatoya</i></h5>
                    </footer>
                    <content>                       
                        <p>Durante los ultimos años, el estandar HTML5 se ha estado afianzando mucho</p>
                        <p>HTML5 es un lenguaje más sistemástico. En otras palabras se pueden hacer más cosas</p>   
                    </content>                          
                </article>
                <article class="Bottom">
                    <header>
                            <h2><a href="#">Inroduccion a CSS3</a></h2>
                    </header>
                    <footer>
                            <h5><i>Esto fue posteado el 29/07/2022 por UMG-Guastatoya</i></h5>
                    </footer>
                    <content>                       
                        <p>El nombre de estilo en cascada viene del inglés Cascad y estos sevirán 
                           de estandar para los agentes  de usuario o navegación</p>
                        <p>Para que sirve el css3</p>
                        <p>El css sirve para definir la estética de un sitio web en un navegador</p>   
                    </content>                          
                </article>
            </div>
            
            <aside class="top-sidebar">
                <h2>Navegación</h2>
                <ul class="navegation">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Noticias</a></li>
                    <li><a href="">Acerca De</a></li>
                    <li><a href="">Contactenos</a></li>                   
                </ul>
            </aside>
            <aside class="bottom-sidebar">
                <div class="featured">
                    <h2>¿Qué es y para qué sirve JavaScript?</h2>
                    <p>JavaScript (JS) es un lenguaje ligero e intuitivo para programación</p>
                    <a href="">Leer Más>></a>
                </div>
            </aside>
        </div>
        
        <footer class="pageFooter">
            <p>Copyright &copy; 2018 - www.misitio.com</p>
        </footer>
        
    </body>
</html>
